/* Reset de estilos básicos F*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: rgb(82, 91, 68);
    background-color: #f4f4f4;
}

header {
    background-color: rgb(90, 108, 87);
    color: rgb(211, 241, 223);
    padding: 1rem;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

header nav ul li {
    margin: 0;
}

header nav ul li a {
    color: rgb(133, 169, 143);
    text-decoration: none;
}

header .busca form {
    display: flex;
}